.header{
	width:100%;
	text-align:center;
	background:green;
	color:white;
}

body{
    background:black;

}
.row{
	text-align:center;
	background:grey;
}

img{
    margin-top:20px;
	width:200px;
	height:200px;
}

.education{
	width : 30%;
	margin:auto;
	display:inline-block;
	padding-left:19px;
}

.experience{
	width : 30%;
	margin:auto;
	display:inline-block;
}

.certifications{
	width : 30%;
	margin:auto;
	display:inline-block;
}

footer{
    color:white;    
}

.footer_general_info{
    width:28%;
    margin:auto;
    display:inline-block;
    padding-left:150px;
    padding-right:50px;
}

.footer_center_info{
    width:30%;
    margin:auto;
    display:inline-block;
}

.footer_right_info{
    width:25%;
    margin:auto;
    display:inline-block;
    float:right;
}